## Segundo metodo Keras

##### Impotación de Librerias

In [1]:
### Ahora en Keras

from __future__ import print_function, division
from builtins import range, input
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle

import tensorflow

from tensorflow import keras

In [2]:
from keras.models import Model
from keras.layers import Input, Embedding, Dot, Add, Flatten
from keras.regularizers import l2
from tensorflow.keras.optimizers import Adam, SGD

##### Lectura del DataSet

In [3]:
df = pd.read_csv('clicks_train.csv')

In [4]:
df.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [5]:
user = df['display_id'].value_counts().index
map = {k:i for i, k in enumerate(user)}
df['display_id'] = df['display_id'].map(map)

In [6]:
mov = df['ad_id'].value_counts().index
map = {k:i for i, k in enumerate(mov)}
df['ad_id'] = df['ad_id'].map(map)

In [7]:
df

          display_id  ad_id  clicked
0            3708577   1426        0
1            3708577  10810        0
2            3708577     82        1
3            3708577     80        0
4            3708577  22809        0
...              ...    ...      ...
87141726     9786521    944        0
87141727    11566925  22257        1
87141728    11566925   2311        0
87141729    11566925   5476        0
87141730    11566925   2135        0

[87141731 rows x 3 columns]

##### Ordenamiento de display_id más reelevantes

Se identifican los "display_id" más reelevantes mediante una proporción "n,m" en base al tamaño total del Set de Datos "N,M". Se consideran como más reelevantes, aquellos "display_id" que mas se repiten en el dataset.

In [8]:
N = df['display_id'].max()
M = df['ad_id'].max()

N,M

(16874592, 478949)

In [9]:
n = 5
m = 5
print(n)

from collections import Counter

5

In [11]:
ucount = Counter(df['display_id'])
ucount.most_common(n)

[(8060, 12), (9291, 12), (6474, 12), (7631, 12), (11749, 12)]

In [12]:
dft = pd.DataFrame(ucount.most_common(n))
dft_list = list(dft[1])
ucount[dft_list[0]]

12

In [ ]:
mcount.most_common(m)

In [10]:
ucount = Counter(df['display_id'])
mcount = Counter(df['ad_id'])

uid = [u for u, c in ucount.most_common(n)]
mid = [u for u, c in mcount.most_common(m)]

In [11]:
mcount

Counter({1426: 11777,
         10810: 1201,
         82: 56927,
         80: 58436,
         22809: 335,
         79714: 34,
         10133: 1325,
         397756: 1,
         17112: 575,
         13310: 880,
         1013: 14975,
         4497: 3872,
         668: 20088,
         15345: 699,
         10784: 1205,
         2180: 8121,
         3425: 5219,
         344: 28835,
         2935: 6081,
         10636: 1233,
         8880: 1618,
         18063: 520,
         15351: 698,
         9386: 1481,
         43786: 96,
         38714: 120,
         45: 78505,
         639: 20906,
         35: 85552,
         1386: 11995,
         1: 203159,
         139: 45207,
         1342: 12223,
         5074: 3355,
         398940: 1,
         1546: 11081,
         4527: 3848,
         314: 30109,
         20430: 411,
         1234: 13095,
         142: 44617,
         794: 17668,
         3: 181319,
         29793: 198,
         2227: 7977,
         575: 22218,
         565: 22322,
         69: 64036,
         364: 28056,
         1162: 13709,
         799: 17566,
         35241: 144,
         41962: 104,
         1964: 8992,
         1768: 9851,
         6288: 2577,
         30: 88215,
         5790: 2849,
         4106: 4261,
         2745: 6502,
         1895: 9262,
         2961: 6028,
         8: 128607,
         5269: 3204,
         325: 29581,
         2654: 6684,
         238420: 5,
         1007: 15081,
         76: 60052,
         801: 17554,
         321821: 2,
         160899: 12,
         135719: 16,
         2688: 6628,
         1020: 14902,
         1469: 11513,
         529: 23300,
         3392: 5269,
         4468: 3898,
         1137: 13862,
         4464: 3899,
         542: 23021,
         2776: 6440,
         2311: 7657,
         3653: 4847,
         54741: 63,
         7567: 2026,
         3183: 5646,
         1877: 9343,
         7505: 2050,
         15623: 677,
         5793: 2847,
         7038: 2231,
         10922: 1184,
         9084: 1561,
         20655: 402,
         17302: 563,
         24165: 300,
         34726: 148,
         34: 86735,
         65: 65929,
         4971: 3442,
         1131: 13913,
         757: 18298,
         20953: 392,
         7929: 1895,
         2897: 6163,
         3054: 5858,
         1170: 13649,
         1261: 12837,
         9347: 1493,
         2666: 6661,
         34042: 154,
         518: 23587,
         98: 53315,
         74: 60573,
         356: 28372,
         1484: 11430,
         850: 16827,
         217: 37087,
         27729: 227,
         896: 16262,
         878: 16502,
         197: 38432,
         4521: 3850,
         1227: 13145,
         920: 16048,
         1524: 11183,
         71791: 39,
         6887: 2300,
         940: 15791,
         2884: 6185,
         10389: 1277,
         36395: 135,
         1209: 13295,
         915: 16095,
         9605: 1431,
         13578: 853,
         10538: 1250,
         7548: 2034,
         1608: 10733,
         7061: 2221,
         280111: 4,
         238654: 5,
         2768: 6454,
         186: 39945,
         70: 63319,
         1973: 8965,
         1819: 9586,
         1562: 11028,
         154: 42926,
         285431: 3,
         285416: 3,
         2567: 6985,
         4272: 4079,
         4923: 3483,
         58: 68462,
         397: 27157,
         13: 116295,
         7521: 2044,
         6908: 2288,
         1628: 10604,
         7969: 1880,
         776: 18009,
         10266: 1302,
         10309: 1293,
         175: 40738,
         5238: 3228,
         863: 16711,
         20441: 410,
         1699: 10254,
         7723: 1965,
         4385: 3966,
         593: 21879,
         162: 42054,
         7560: 2029,
         15120: 713,
         410: 26835,
         178756: 10,
         48783: 78,
         10369: 1280,
         6: 144467,
         5140: 3309,
         4: 168139,
         6323: 2559,
         106: 51218,
         2536: 7066,
         617: 21505,
         1315: 12447,
         8816: 1633,
         38860: 119,
         14994: 725,
         505: 23927,
         804: 17518,
         485: 24589,
         10916: 1185,
         13383: 872,
         2265: 7834,
         606: 21655,
         27078: 238,
         16293: 630,
         5928: 2772,
         2763: 6462,
         26: 96419,
         13749: 834,
         7863: 1921,
         5504: 3035,
         353: 28548,
         935: 15843,
         9678: 1418,
         11904: 1039,
         1205: 13346,
         279009: 4,
         24389: 294,
         13190: 893,
         396025: 1,
         56055: 61,
         1573: 10976,
         2356: 7533,
         51084: 72,
         831: 17148,
         2230: 7970,
         9653: 1421,
         329: 29350,
         973: 15436,
         4069: 4310,
         5856: 2805,
         20: 111281,
         260: 32687,
         80088: 33,
         202: 38202,
         439: 26245,
         231: 35632,
         875: 16526,
         56884: 59,
         48: 77514,
         37685: 126,
         21193: 384,
         28: 93412,
         1468: 11520,
         0: 211824,
         8211: 1798,
         552: 22697,
         855: 16768,
         5779: 2857,
         1267: 12790,
         46818: 85,
         16920: 586,
         18831: 481,
         14958: 728,
         536: 23097,
         1383: 12011,
         521: 23416,
         34194: 153,
         2302: 7708,
         49348: 77,
         15092: 716,
         2621: 6782,
         44: 79129,
         55: 71708,
         8358: 1754,
         8396: 1746,
         6615: 2423,
         2033: 8719,
         158533: 12,
         45613: 89,
         8986: 1589,
         2002: 8850,
         11910: 1038,
         4726: 3648,
         71682: 39,
         101: 52657,
         241: 34933,
         2157: 8212,
         4894: 3514,
         657: 20461,
         4739: 3637,
         43049: 99,
         479: 24714,
         549: 22773,
         15: 115654,
         544: 22949,
         7114: 2203,
         5491: 3046,
         1577: 10951,
         22371: 347,
         3254: 5510,
         272: 32415,
         11992: 1025,
         92164: 27,
         35716: 140,
         12130: 1010,
         1070: 14423,
         4227: 4128,
         279069: 4,
         14243: 788,
         6783: 2349,
         117: 49104,
         279581: 4,
         3578: 4968,
         363: 28079,
         488: 24432,
         953: 15691,
         1869: 9405,
         694: 19347,
         433: 26336,
         6780: 2349,
         823: 17276,
         9009: 1582,
         68914: 42,
         459: 25278,
         3307: 5437,
         803: 17520,
         945: 15743,
         3860: 4585,
         41106: 107,
         966: 15555,
         1486: 11425,
         8798: 1638,
         107: 51067,
         3237: 5554,
         76133: 36,
         2289: 7767,
         13309: 880,
         167: 41419,
         533: 23198,
         9575: 1438,
         14945: 729,
         1675: 10377,
         3594: 4943,
         1992: 8895,
         12582: 962,
         17: 111937,
         9262: 1515,
         99023: 25,
         16953: 584,
         7868: 1918,
         729: 18650,
         6585: 2436,
         20896: 394,
         296: 30767,
         8188: 1804,
         159: 42390,
         8607: 1687,
         17462: 552,
         5675: 2943,
         46653: 85,
         718: 18951,
         300: 30571,
         72: 61813,
         11228: 1139,
         1327: 12393,
         2500: 7150,
         195: 38781,
         1676: 10373,
         579: 22191,
         1265: 12811,
         1517: 11218,
         238168: 5,
         6085: 2677,
         5944: 2760,
         530: 23290,
         752: 18372,
         49: 76835,
         206735: 7,
         1551: 11055,
         206: 37909,
         537: 23086,
         20729: 400,
         1730: 10072,
         4503: 3865,
         11204: 1144,
         263: 32657,
         5145: 3303,
         5085: 3349,
         5566: 3000,
         5396: 3113,
         205: 38005,
         3066: 5846,
         1428: 11770,
         445: 25983,
         238205: 5,
         710: 19102,
         4348: 4003,
         258: 33165,
         109: 50442,
         4342: 4014,
         11: 123899,
         20890: 394,
         3875: 4562,
         1550: 11063,
         14915: 731,
         5214: 3249,
         7898: 1908,
         238100: 5,
         5111: 3329,
         38379: 122,
         1537: 11139,
         9645: 1423,
         348: 28737,
         28379: 218,
         9: 128030,
         1716: 10140,
         111: 50338,
         541: 23036,
         2270: 7828,
         226: 36310,
         179: 40365,
         99131: 25,
         3710: 4781,
         5340: 3150,
         48075: 81,
         8220: 1795,
         4121: 4243,
         26652: 246,
         3450: 5184,
         127: 47278,
         4722: 3651,
         40: 81666,
         2192: 8084,
         8166: 1812,
         1001: 15106,
         57458: 58,
         892: 16341,
         327: 29408,
         46492: 86,
         178497: 10,
         961: 15612,
         339: 28975,
         1977: 8950,
         90: 55028,
         227: 35958,
         720: 18927,
         2823: 6335,
         2628: 6751,
         8019: 1862,
         24873: 283,
         396138: 1,
         19: 111718,
         3387: 5279,
         3866: 4575,
         10683: 1225,
         7748: 1958,
         128: 47218,
         954: 15688,
         3423: 5225,
         7409: 2083,
         3325: 5392,
         14774: 743,
         2112: 8360,
         623: 21287,
         37308: 129,
         1617: 10657,
         766: 18185,
         2477: 7207,
         8806: 1635,
         833: 17092,
         802: 17541,
         34485: 150,
         8151: 1819,
         1624: 10629,
         1220: 13253,
         2758: 6475,
         5499: 3038,
         23: 108989,
         5508: 3033,
         9895: 1377,
         4308: 4050,
         372: 27885,
         1618: 10657,
         1096: 14191,
         2497: 7153,
         38546: 121,
         6928: 2276,
         11302: 1127,
         414: 26790,
         54473: 64,
         30992: 184,
         62536: 50,
         12650: 952,
         7008: 2246,
         5220: 3241,
         99277: 25,
         1870: 9397,
         704: 19207,
         166488: 11,
         3876: 4562,
         7287: 2129,
         839: 16988,
         13498: 860,
         1210: 13285,
         106307: 22,
         49455: 76,
         18224: 512,
         1142: 13822,
         290: 31149,
         458: 25321,
         1761: 9937,
         10457: 1264,
         3528: 5055,
         19342: 457,
         6502: 2479,
         38136: 123,
         11955: 1031,
         32390: 169,
         1167: 13658,
         4740: 3634,
         128647: 17,
         253: 33738,
         455: 25514,
         563: 22362,
         44233: 94,
         68570: 42,
         10764: 1209,
         3143: 5704,
         18235: 511,
         18713: 487,
         178603: 10,
         27314: 234,
         2181: 8120,
         1698: 10262,
         9858: 1382,
         5157: 3296,
         5141: 3308,
         6524: 2468,
         20139: 421,
         232417: 6,
         3265: 5498,
         2079: 8502,
         13900: 820,
         2806: 6377,
         2254: 7885,
         3924: 4504,
         7317: 2116,
         6787: 2347,
         6322: 2560,
         1812: 9623,
         279: 31894,
         205586: 8,
         75: 60510,
         5549: 3011,
         215: 37411,
         3186: 5642,
         4029: 4359,
         568: 22267,
         3370: 5302,
         145662: 14,
         7439: 2072,
         2744: 6505,
         111199: 21,
         7398: 2090,
         1195: 13435,
         5938: 2764,
         1177: 13587,
         647: 20725,
         707: 19179,
         87538: 29,
         221: 36759,
         284285: 3,
         2269: 7830,
         3312: 5430,
         519: 23554,
         105: 51776,
         41: 80919,
         27539: 230,
         3882: 4557,
         902: 16200,
         71103: 40,
         2827: 6320,
         49817: 75,
         44429: 94,
         2253: 7887,
         126043: 18,
         1925: 9145,
         3238: 5553,
         125: 47428,
         1143: 13813,
         321952: 2,
         5906: 2785,
         50566: 73,
         16930: 586,
         26815: 243,
         145467: 14,
         1785: 9733,
         133612: 16,
         2771: 6447,
         19649: 443,
         5564: 3002,
         3383: 5285,
         5128: 3316,
         5428: 3094,
         417: 26685,
         795: 17659,
         443: 25999,
         117147: 20,
         582: 22098,
         305: 30390,
         12578: 962,
         636: 21016,
         317: 29807,
         31378: 179,
         35005: 146,
         796: 17617,
         7724: 1965,
         450: 25715,
         8433: 1733,
         14505: 767,
         205943: 8,
         681: 19748,
         315: 30101,
         86978: 30,
         1516: 11219,
         1409: 11873,
         9916: 1372,
         1788: 9714,
         16319: 629,
         44298: 94,
         3173: 5656,
         30223: 192,
         38990: 118,
         106304: 22,
         13107: 902,
         14456: 771,
         429: 26400,
         21741: 368,
         30648: 187,
         2602: 6846,
         48241: 80,
         1350: 12158,
         4701: 3673,
         33503: 158,
         9625: 1427,
         4542: 3834,
         832: 17138,
         4745: 3632,
         4528: 3848,
         12107: 1013,
         663: 20276,
         525: 23368,
         321887: 2,
         28045: 223,
         321864: 2,
         10473: 1262,
         8210: 1799,
         649: 20709,
         9314: 1500,
         3153: 5683,
         699: 19287,
         14619: 756,
         6176: 2636,
         256: 33594,
         210: 37798,
         8023: 1861,
         2803: 6382,
         40980: 108,
         87097: 30,
         1916: 9182,
         1068: 14427,
         7934: 1892,
         3563: 4994,
         2706: 6573,
         3091: 5824,
         321867: 2,
         2959: 6030,
         7663: 1987,
         16355: 626,
         438: 26250,
         8147: 1820,
         82791: 32,
         1491: 11407,
         17421: 555,
         58653: 56,
         9930: 1369,
         3614: 4904,
         1370: 12088,
         1389: 11982,
         284933: 3,
         116835: 20,
         143: 44536,
         7919: 1900,
         5273: 3200,
         161: 42086,
         746: 18482,
         30872: 185,
         2756: 6478,
         39: 82037,
         1953: 9043,
         768: 18147,
         1769: 9850,
         709: 19123,
         4764: 3618,
         97: 53428,
         2404: 7381,
         749: 18458,
         102: 52563,
         872: 16567,
         2076: 8527,
         282: 31826,
         411: 26828,
         4231: 4121,
         12378: 982,
         397218: 1,
         80909: 33,
         7377: 2096,
         2194: 8080,
         207: 37895,
         965: 15579,
         23809: 309,
         717: 19000,
         2071: 8538,
         1103: 14088,
         711: 19095,
         10046: 1342,
         57: 70837,
         16695: 602,
         8718: 1659,
         4986: 3433,
         66: 65612,
         14: 115819,
         34565: 150,
         62251: 50,
         2285: 7794,
         2784: 6425,
         45020: 91,
         393: 27364,
         2410: 7368,
         283: 31719,
         4330: 4031,
         26493: 249,
         3331: 5384,
         124: 47480,
         15876: 659,
         470: 24996,
         1784: 9734,
         1021: 14886,
         1740: 10019,
         9875: 1380,
         284970: 3,
         5453: 3070,
         98881: 25,
         3195: 5627,
         24612: 289,
         2503: 7143,
         3829: 4627,
         90288: 28,
         1482: 11438,
         59: 67470,
         4371: 3973,
         1362: 12118,
         619: 21416,
         9996: 1355,
         248: 34257,
         1747: 9987,
         1736: 10040,
         415: 26782,
         321903: 2,
         2920: 6104,
         4393: 3960,
         27916: 225,
         13273: 885,
         1639: 10533,
         3762: 4716,
         788: 17768,
         14963: 728,
         499: 24170,
         9679: 1417,
         12217: 1000,
         436: 26274,
         345: 28775,
         620: 21403,
         406: 26904,
         134: 46197,
         218: 37009,
         6476: 2491,
         190141: 9,
         6886: 2300,
         10716: 1218,
         412: 26805,
         3502: 5092,
         482: 24674,
         152: 43599,
         23358: 321,
         166: 41576,
         666: 20201,
         1748: 9977,
         250: 34155,
         1950: 9060,
         26966: 240,
         1175: 13606,
         2579: 6928,
         235: 35426,
         407: 26885,
         955: 15684,
         10957: 1179,
         624: 21274,
         660: 20390,
         107332: 22,
         52: 74757,
         11595: 1082,
         2817: 6342,
         42: 80633,
         2734: 6521,
         8543: 1707,
         463: 25229,
         392: 27380,
         9108: 1555,
         957: 15650,
         90316: 28,
         11336: 1121,
         1223: 13228,
         3060: 5853,
         6319: 2562,
         1762: 9905,
         17576: 545,
         19750: 438,
         18168: 514,
         12868: 928,
         288: 31242,
         401: 27083,
         3259: 5502,
         94246: 26,
         1038: 14721,
         13512: 859,
         1528: 11170,
         203: 38046,
         703: 19215,
         28030: 223,
         26772: 244,
         10393: 1276,
         3798: 4676,
         18476: 499,
         128332: 17,
         285196: 3,
         4825: 3575,
         2904: 6151,
         7502: 2051,
         2280: 7804,
         36596: 133,
         37744: 126,
         3919: 4510,
         1419: 11828,
         285067: 3,
         2031: 8727,
         232066: 6,
         2399: 7407,
         5603: 2980,
         5399: 3111,
         3699: 4797,
         2172: 8159,
         7522: 2044,
         5248: 3222,
         21177: 385,
         11541: 1090,
         12531: 967,
         32215: 170,
         654: 20574,
         17919: 527,
         132: 46618,
         1805: 9657,
         27112: 237,
         284877: 3,
         73: 61097,
         64407: 47,
         37264: 129,
         4900: 3506,
         20296: 415,
         25463: 271,
         6772: 2351,
         17399: 557,
         3842: 4606,
         9164: 1543,
         71360: 40,
         8601: 1689,
         1561: 11030,
         51627: 71,
         4120: 4245,
         4834: 3569,
         419: 26618,
         121867: 19,
         5965: 2746,
         43963: 95,
         7352: 2104,
         6391: 2523,
         21436: 377,
         2049: 8658,
         9463: 1465,
         25858: 262,
         19791: 436,
         54801: 63,
         100: 52958,
         18888: 478,
         320117: 2,
         6890: 2299,
         560: 22466,
         13200: 892,
         9818: 1390,
         627: 21200,
         5852: 2806,
         6507: 2478,
         2785: 6424,
         1583: 10906,
         1756: 9953,
         77: 59984,
         206635: 7,
         161883: 12,
         95: 54157,
         19222: 463,
         242: 34703,
         46: 78090,
         6410: 2515,
         2394: 7422,
         576: 22209,
         5559: 3005,
         5591: 2988,
         547: 22846,
         4400: 3952,
         1556: 11038,
         119: 48881,
         14015: 810,
         39754: 114,
         12699: 947,
         2374: 7487,
         567: 22298,
         603: 21724,
         118: 49018,
         35496: 142,
         1593: 10818,
         3793: 4681,
         1343: 12196,
         1555: 11048,
         453: 25668,
         1159: 13720,
         352: 28667,
         22282: 350,
         4965: 3447,
         63: 66599,
         553: 22567,
         522: 23412,
         1446: 11636,
         856: 16762,
         1970: 8977,
         84448: 31,
         865: 16706,
         4209: 4156,
         2808: 6374,
         5865: 2800,
         630: 21166,
         20705: 401,
         8320: 1767,
         87075: 30,
         1406: 11891,
         6304: 2570,
         20109: 423,

In [12]:
newdf = df[df['display_id'].isin(uid) & df['ad_id'].isin(mid)]
newdf.head()

     display_id  ad_id  clicked
94      1999487   5793        0
95      1999487   7038        1
147     1999493   2768        1
148     1999493    186        0
149     1999493     70        0

In [13]:
N = newdf['display_id'].max()
M = newdf['ad_id'].max()

user = newdf['display_id'].value_counts().index
map = {k:i for i, k in enumerate(user)}
newdf['display_id'] = newdf['display_id'].map(map)

C:\Users\pablo\AppData\Local\Temp\ipykernel_16488\2669345575.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['display_id'] = newdf['display_id'].map(map)

In [14]:
N,M

(2409099, 7999)

In [15]:
mov = newdf['ad_id'].value_counts().index
map = {k:i for i, k in enumerate(mov)}
newdf['ad_id'] = newdf['ad_id'].map(map)

C:\Users\pablo\AppData\Local\Temp\ipykernel_16488\1196890054.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['ad_id'] = newdf['ad_id'].map(map)

##### Se Generan los Sub COnjuntos de Entrenamiento y Prueba

Una vez ordenado el DataSet, se divide en dos subconjuntos, donde el DataSet de Entrenamiento contendrá aquellos datos de "display_id" que mas se repiten, mientras que el DataSet de Prueba contendrá el 20% de los "display_id" que menos se repiten.

In [16]:
newdf = shuffle(newdf)
cutoff = int(0.8*len(newdf))
cutoff

8995870

train = newdf.iloc[: cutoff]
test = newdf.iloc[cutoff:]

In [17]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(newdf, test_size=0.2)

In [18]:
K = 10 #factores latentes
mu = newdf['clicked'].mean()
epochs = 10
reg = 0.
N = n
M = m

In [19]:
u = Input(shape=(1,))
m = Input(shape=(1,))

u_embed = Embedding(N, K, embeddings_regularizer = l2(reg))(u) # size (N,1,K)
m_embed = Embedding(M, K, embeddings_regularizer = l2(reg))(m) # size (M,1,K)

In [20]:
u_bias = Embedding(N, 1, embeddings_regularizer = l2(reg))(u)
m_bias = Embedding(M, 1, embeddings_regularizer = l2(reg))(m)

x = Dot(axes = 2)([u_embed, m_embed])

x = Add()([x, u_bias, m_bias])
x = Flatten()(x) # N,1

In [21]:
model = Model(inputs = (u, m),
             outputs = x)

model.compile(loss = 'mse',
             optimizer = Adam(learning_rate = 0.01),
             metrics = ['mse'])

In [ ]:
r = model.fit(x = [train['display_id'].values, train['ad_id'].values],
                 y = train['clicked'].values - mu,
                 epochs = epochs,
                 batch_size = 256,
                 validation_data = ([test['display_id'].values, test['ad_id'].values],
                 test['clicked'].values - mu)
                 )

Epoch 1/10
35141/35141 [==============================] - 3709s 105ms/step - loss: 0.2024 - mse: 0.2024 - val_loss: 0.2385 - val_mse: 0.2385
Epoch 2/10
28849/35141 [=======================>......] - ETA: 10:45 - loss: 0.2466 - mse: 0.2466

In [ ]:
# plot losses
plt.plot(r.history['loss'], label="train loss")
plt.plot(r.history['val_loss'], label="test loss")
plt.legend()
plt.show()

# plot mse
plt.plot(r.history['mse'], label="train mse")
plt.plot(r.history['val_mse'], label="test mse")
plt.legend()
plt.show()

## Otro 1